<div class="center hero-unit">
<h1>Welcome to SimpleAuthAppTemplate</h1>
<h2>SimpleAuthAppTemplate is a skeleton Rails 3.2.11 application with has_secure_password authentication and basic user management.</h2>
<%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
</div>